# This file maintains persistent names for CD/DVD reader and writer devices.
# See udev(7) for syntax.
#
# Entries are automatically added by the 75-cd-aliases-generator.rules
# file; however you are also free to add your own entries provided you
# add the ENV{GENERATED}=1 flag to your own rules as well.
# DVD-RAM_UJ-844S (pci-0000:00:1a.0-usb-0:1.6:1.0-scsi-0:0:0:0)
SUBSYSTEM=="block", ENV{ID_CDROM}=="?*", ENV{ID_SERIAL}=="MATSHITA_DVD-RAM_UJ-844S_DBEEF0001396-0:0", SYMLINK+="cdrom", ENV{GENERATED}="1"
SUBSYSTEM=="block", ENV{ID_CDROM}=="?*", ENV{ID_SERIAL}=="MATSHITA_DVD-RAM_UJ-844S_DBEEF0001396-0:0", SYMLINK+="cdrw", ENV{GENERATED}="1"
SUBSYSTEM=="block", ENV{ID_CDROM}=="?*", ENV{ID_SERIAL}=="MATSHITA_DVD-RAM_UJ-844S_DBEEF0001396-0:0", SYMLINK+="dvd", ENV{GENERATED}="1"
SUBSYSTEM=="block", ENV{ID_CDROM}=="?*", ENV{ID_SERIAL}=="MATSHITA_DVD-RAM_UJ-844S_DBEEF0001396-0:0", SYMLINK+="dvdrw", ENV{GENERATED}="1"

