[Desktop Entry]
Name=Ubuntu One Indicator
Name[ar]=مؤشر أبونتو ون
Name[bg]=Ubuntu One Indicator
Name[ca]=Indicador d’Ubuntu One
Name[cs]=Ubuntu One indikátor
Name[eo]=Indikilo de Ubuntu Unu
Name[es]=Indicador de Ubuntu One
Name[fi]=Ubuntu One -ilmaisin
Name[fr]=Ubuntu One Indicator
Name[hr]=Ubuntu One indikator
Name[hu]=Ubuntu One indikátor
Name[it]=Indicatore Ubuntu One
Name[ko]=우분투 원 알리미
Name[nl]=Ubuntu One Indicator
Name[pt]=Indicador do Ubuntu One
Name[pt_BR]=Indicador do Ubuntu One
Name[ru]=Индикатор Ubuntu One
Name[uk]=Індикатор Ubuntu One
Name[zh_CN]=Ubuntu One 指示器
Name[zh_TW]=Ubuntu One 指示器
Comment=An indicator for Ubuntu One synchronization service
Comment[ar]=مؤشر خدمة مزامنة أبونتو ون
Comment[bg]=Индикатор за услугата Ubuntu One
Comment[ca]=Un indicador per al servei de sincronització d’Ubuntu One
Comment[cs]=Indikátor pro synchronizační službu Ubuntu One
Comment[eo]=Indikilo por servo de sinkronigado de Ubuntu Unu
Comment[es]=Un indicador para el servicio de sincronización de Ubuntu One
Comment[fi]=Ilmaisin Ubuntu One -synkronointipalvelulle
Comment[fr]=Un indicateur pour le service de synchronisation de Ubuntu One
Comment[hr]=Indikator za Ubuntu One uslugu sinkronizacije
Comment[hu]=Egy indikátor az Ubuntu One folyamatainak megjelenítésére
Comment[it]=Un indicatore per il servizio di sincronizzazione di Ubuntu One
Comment[ko]=우분투 원 동기화 서비스 알리미
Comment[nl]=Een indicator voor de Ubuntu One synchronisatiedienst
Comment[pt]=Um indicador para o serviço de sincronização Ubuntu One
Comment[pt_BR]=Um indicador para o serviço de sincronização Ubuntu One
Comment[ru]=Индикатор для сервиса синхронизации Ubuntu One
Comment[uk]=Індикатор для сервісу синхронізації Ubuntu One
Comment[zh_CN]=Ubuntu One 同步服务指示器
Comment[zh_TW]=一個 Ubuntu One 的同步服務指示器
Exec=/usr/lib/indicator-ubuntuone/indicator-ubuntuone
Type=Application
Icon=indicator-ubuntuone
NoDisplay=true
X-Ubuntu-Gettext-Domain=indicator-ubuntuone
